nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; /* agar navbar tidak tertutup oleh elemen lain */
}

nav {
    transition: all 500ms ease-in-out; /* durasi dan jenis animasi */
}

nav > div {
    transition: all 1000ms ease-in-out; /* durasi dan jenis animasi */
}

/* ubah ukuran dan warna navbar ketika pengguna scroll ke bawah */
nav.scrolled {
    height: 50px;
    background-color: chocolate;
}

nav > div.scrolled {
    font-size: 20px;
    color: white;
}
